@model CourseCreateViewModel
@{
    ViewData["Title"] = "Create Course";
    ViewBag.CurrentUrl = "~/Course/Create";
}

<div class="flex items-center justify-center min-h-[calc(100vh-11.0rem)]">
    <div class="card card-border bg-base-200 shadow-sm w-120 sm:w-144 md:w-168 lg:w-226 xl:w-268" data-aos="zoom-in">
        <div class="card-body">
            <h3 class="font-medium text-3xl ml-2 mb-4">Create Course</h3>
            <form asp-controller="Course" asp-action="Create" method="post" id="create-course-form">
                <div>
                    <label class="floating-label mb-4">
                        <span>@Html.DisplayNameFor(m => m.Name)</span>
                        <input asp-for="Name" placeholder=@Html.DisplayNameFor(m => m.Name)
                            class="input input-md w-full" />
                        <span asp-validation-for="Name" class="text-error text-sm ml-1"></span>
                    </label>
                </div>
                <div>
                    <label class="floating-label mb-4">
                        <span>@Html.DisplayNameFor(m => m.Description)</span>
                        <input asp-for="Description" placeholder=@Html.DisplayNameFor(m => m.Description)
                            class="input input-md w-full" />
                        <span asp-validation-for="Description" class="text-error text-sm ml-1"></span>
                    </label>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl">Skills</h3>
                    <button type="button" class="btn btn-info btn-sm w-20" onclick="addSkillToViewModel()">New</button>
                </div>

                <div id="create-skills-container">
                    @await Html.PartialAsync("~/Views/Skill/_CreateSkillsListPartial.cshtml", Model.Skills)
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl">Materials</h3>
                    <button type="button" class="btn btn-info btn-sm">New Previously Created</button>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">Videos</h3>
                    <button type="button" class="btn btn-info btn-sm w-20" onclick="addVideoToViewModel()">New</button>
                </div>

                <div id="create-videos-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreateVideosListPartial.cshtml", Model.Videos)
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">Publications</h3>
                    <button type="button" class="btn btn-info btn-sm w-20"
                        onclick="addPublicationToViewModel()">New</button>
                </div>

                <div id="create-publications-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreatePublicationsListPartial.cshtml",
                    Model.Publications)
                </div>

                <div class="flex items-center justify-between mb-4">
                    <h3 class="font-medium text-2xl ml-4">Articles</h3>
                    <button type="button" class="btn btn-info btn-sm w-20" onclick="addArticleToViewModel()">New</button>
                </div>

                <div id="create-articles-container" class="ml-4">
                    @await Html.PartialAsync("~/Views/Material/_CreateArticlesListPartial.cshtml", Model.Articles)
                </div>

                @* <div asp-validation-summary="All" class="text-error text-sm"></div> *@
                <partial name="_ControllerErrorsPartial" />

                <div class="flex items-center justify-between mt-4">
                    <a asp-controller="Course" asp-action="List" class="btn btn-md btn-secondary">
                        Back to Courses
                    </a>
                    <button type="submit" class="btn btn-md btn-primary">Create</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}

@section CreateCourseHelperScripts {
    <partial name="_CreateCourseHelperScriptsPartial" />
}