@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="flex items-center justify-center min-h-[calc(100vh-11.0rem)]" data-aos="fade-up">
    <div class="card card-border w-120 md:w-168 lg:w-226 xl:w-268 bg-base-200 shadow-sm">
        <div class="card-body">
            <h3 class="font-bold text-lg ml-2 mb-4">@Model.Header</h3>
            <div class="text-sm">
                <p class="mb-4">@Model.WelcomeText</p>
            </div>

        </div>
    </div>
</div>
