@model List<VideoViewModel>

<div class="mb-4">
    @for (int idx = 0; idx < Model.Count; idx++)
    {
        <a onclick="unloadVideoFromViewModel(@idx)" class="text-info cursor-pointer">@(idx < Model.Count - 1?
                    Model[idx].Title + "," : Model[idx].Title)</a>
        }
</div>

@for (int idx = 0; idx < Model.Count; idx++)
{
    <input type="hidden" id="LoadedVideos[@idx].Id" name="LoadedVideos[@idx].Id" value="@Model[idx].Id" />
    <input type="hidden" id="LoadedVideos[@idx].Title" name="LoadedVideos[@idx].Title" value="@Model[idx].Title" />
}