@if (TempData["errors"] != null)
{
    <div class="text-error text-sm">
        <ul>
            @foreach (string error in TempData.Get<List<string>>("errors")!)
            {
                <li>@Html.Translate(error)</li>
            }
        </ul>
    </div>
}